{
   "singleQuote": true,
   "semi": false,
   "parser": "typescript",
   "trailingComma": "all",
   "extends": ["@rocketseat/eslint-config/node", "plugin:prettier/recommended"],
   "plugins": ["prettier"]
}
